.submit-btn {
    background-color: var(--color-primary);
    color: var(--color-white);
    font-size: var(--font-size-md);
    font-weight: var(--font-weight-bold);
    text-align: center;
    border-radius: var(--border-radius-sm);
    width: 100%;
    padding: var(--space-4) var(--space-3);
    display: block;
    transition: background 0.5s ease;
}

.submit-btn:hover {
    background: hsl(169, 85%, 13%);
}