.input-group input {
    width: 100%;
    display: block;
    color: var(--color-text-darker);
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-md);
}

.input-group input, .radio-input, #text-message {
    border: 1px solid var(--color-text-medium);
    border-radius: var(--border-radius-sm);
    padding: var(--space-3) var(--space-3) var(--space-3) var(--space-5);
}

.req-symbol {
    color: var(--color-primary);
}

label, legend {
    font-size: var(--font-size-base);
    font-weight: var(--font-weight-regular);
    color: var(--color-text-darker);
    margin-bottom: var(--space-3);
    display: inline-block;
}

.input-group { gap: 1rem; }
.radiogroup { gap: 1rem; }
.radio-input { padding: var(--space-3) var(--space-3) var(--space-3) var(--space-5); }
.checkbox-input { margin-block-end: var(--space-6); }

#text-message {
    height: 11.25rem;
    color: var(--color-text-darker);
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-md);
}

/* Hover, focus, active, animation */

.input-group input:hover, #text-message:hover {
    border-color: var(--color-primary);
}

.input-group input:focus, #text-message:focus {
    outline: 2px solid var(--color-primary);
    border-color: var(--color-primary);
}

.input-group input:hover, .input-group input:focus {
    transform: scale(1.05, 1.05);
    transition: transform 0.5s ease;
}

#email:focus, #email:hover {
    transform: scale(1.05, 1.05);
}